* {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #3C486B;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.navbar {
    background-color: #3C486B;
}

.dropdown-menu {
    background-color: #3C486B;
}

.dropdown-menu a:hover {
    background-color: #210062;
}

.container h2 {
    margin: 20px;
}

.card-img {
    object-fit: cover;
    height: 400px;
}

.card-img-overlay p {
    width: 425px;
}